<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Section 2 - Search Table (Bootstrap)-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


  </head>
<body>
  <div>
    <table id="tblAvg" class="table">
          <thead>
              <tr>
                  <th>Hospital Name</th>
                  <th>Average Rating</th>
              </tr>
          </thead>
          <tbody>
            {% for item in data %}
              <tr>
                <td>{{item.HospName}}</td>
                <td>{{item.AvgRating|floatformat:1}}</td>
              </tr>
            {% endfor %}
          </tbody>
    </table>
  </div>
<script>
</script>
</body>

</html>


